services:
  # ========================================
  # APLICACIÓN - Next.js Full-Stack
  # ========================================
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: izacas-app
    restart: unless-stopped
    environment:
      # Base de datos - Conectar a PostgreSQL del host (tu PC)
      DATABASE_URL: "postgresql://izacas:izacas2024@host.docker.internal:5433/izacas?schema=public"
      
      # NextAuth
      AUTH_SECRET: "ClLVfo1Ia7rOFAZQ+iCqlsy25PJdRJi+ArCbBc3TLBs="
      NEXTAUTH_URL: "http://localhost:3000"
      
      # Transbank
      TRANSBANK_COMMERCE_CODE: "597055555532"
      TRANSBANK_API_KEY: "579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C"
      TRANSBANK_ENVIRONMENT: "integration"
      
      # Next.js
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: http://localhost:3000
      
      # Store
      NEXT_PUBLIC_STORE_NAME: "IZA&CAS"
      NEXT_PUBLIC_STORE_ADDRESS: "Simón Bolívar 485, 2390030 Valparaíso, Chile"
      NEXT_PUBLIC_STORE_PHONE: "+56912345678"
      NEXT_PUBLIC_STORE_EMAIL: "contacto@izacas.cl"
      
      PORT: 3000
    ports:
      - "3001:3000"
    volumes:
      - ./public:/app/public
    command: >
      sh -c "
        npx prisma migrate deploy &&
        npx prisma generate &&
        node server.js
      "
